<body class="BodyRegistro">
    

<div class="ContainRegistro">

<form  class="Registro" action='@Url.Action("CambiarContraseña","Account")' onsubmit="return verificarContraseña()" >
    <p>Cambiar co   ntraseña</p>
    <input class="controls" autocomplete="off" type="text" name="username" required placeholder="Ingrese nombre de usuario">
    <input class="controls" autocomplete="off" type="password" id=contraseña1 required placeholder="Ingrese contraseña nueva">
    <input class="controls" autocomplete="off" type="password" id=contraseña2 name="nuevaContraseña" required placeholder="Ingrese nuevamente su contraseña">
    <input class="botons" type="submit" value="Cambiar contraseña">

</form>
</div>

<p id="errorIngreso" class="errorText"></p>
</body>