html {
  font-size: 14px;
  position: relative;
  min-height: 100%;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}


footer {
  position: fixed; 
  bottom: 0; 
  margin: 10px 0px 20px 0px;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
.ContainRegistro{
  display: flex;
  justify-content: center;
  margin-top: 8%;
}
.ContainRegistro p
{
  text-align: center;
  font-weight: bold;
}
.Registro{
  width: 27%;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.controls{
  width: 100%;
  padding: 2%;
  border-radius: 4px;
  margin-bottom: 4%;
  border: 2px solid black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}
.errorText{
  margin-top: 1%;
  height: 40px;
  color: red;
  text-align: center;
  font-size: 20px;
}
.Registro a{
  color: white;
  text-decoration: none;
}
.Registro a:hover{
  color: white;
  text-decoration: underline;
}
.Registro .botons{
  width: 100%;
  font-size: 16px-;
  background-color: green;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.conteiner-fluid{
  margin-top: 3%;
}

table img, ul img{
  height: 50px;
}

main{
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
}

.banner{
  width: 95%;
  background-color: green;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
.imagen-banner{
  height: 100px;
}
.pais{
  height: 50px;
  border-radius: 100%;
  border: 2px solid rgb(65, 65, 65);
}
.descripcion{
  width: 80%;
  text-align: center;
  padding: 20px;
}

.titulos{
  width: 80%;
  display: flex;
  justify-content: center;
  gap: 5%;
  flex-wrap: wrap;
}

.card-img-top{
  height: 200px;
  object-fit: cover;
}

table {
  width: 80%;
  margin: 20px auto;
  border-collapse: collapse;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  text-align: center;
}

th, td {
  padding: 8px;
  text-align: center;
}

th {
  background-color: green;
  color: #ecf0f1;
}

tr:nth-child(even) {
  background-color: #e4e4e4;
}

.imagenes-banner{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.imagenes-banner img{
  height: 60px;
}
.AddPlayer{
  text-decoration: none;
  color: white;
}
.usuario
{
  gap: 20px;
  align-items: center;
  
}

.image-button {
  background: url("https://www.nicepng.com/png/full/778-7786050_download-instagram-like-icon-png.png") no-repeat center center; /* Ruta de tu imagen */
  background-size:contain; /* Ajusta la imagen al tamaño del botón */
  width: 50px; /* Ancho del botón */
  height: 50px; /* Altura del botón */
  border: none; /* Elimina el borde predeterminado del botón */
  cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
  outline: none; /* Elimina el contorno al hacer clic */
}

select {
  width: 100%;
  padding: 8px;
  margin: 5px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 4px;
}

/* Estilo para los options */
option {
  padding: 5px;
}

/* Estilo específico para los selects con nombre "IdPais" y "IdEquipo" */
select[name="IdPais"],
select[name="IdEquipo"] {
  /* Ajusta los estilos según tus preferencias */
  background-color: #f2f2f2;
  color: #333;
  font-size: 14px;
}
.BodyRegistro {
  background-color: rgb(2, 92, 2);
  margin: 0;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom right,  rgba(255, 255, 255, 0.842));
}

.card
{
  background-color: rgb(255, 255, 255) !important;
  border: 5px solid rgb(4, 75, 1) !important;
  border-radius: 15px !important;
  transition: .6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.formIngreso
{
width: 70%;
display: flex;
justify-content: center;
flex-direction: column; 
margin-bottom: 1%;
}

.formulario{
display: flex;
justify-content: center;
}
.Inicioses{
  display: flex;
justify-content: center;
}

.card img{
  border-radius: 9px !important;
}

.card:hover{
  transform: scale(1.03);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.ingre{
  display: flex;
justify-content: center;
}
.ingre2{
  display: flex;
justify-content: center;
}
.Tarjetas{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 30px;
}
.Tarjetas div{
  text-align: center;
  align-items: center;
  background-color: white;
  border: solid 2px black;
  border-radius: 8px;
  height: 560px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  transition: transform 1s;
  overflow: hidden;
}
.Tarjetas img{
  margin-bottom: 7px;

  overflow: hidden;
}
.Tarjetas div:hover{
  transform: scale(1.05);
}
.JugPop{
  display: inline-block;
  color: white;
  padding: 10px;
  position: relative;
  text-align: center; /* Centro del texto */
  /* Verde sutil */
}
.titulo{
  display: flex;
  justify-content: center;
}
.BotonesIniciarSesion{
display: flex;
justify-content: center;
}
.botonGuardarJugador
{
  display: flex;
  justify-content: center;
}
